# Database configuration
# For Docker environment, use 'db' as the hostname
DB_NAME=shop_db
DB_URL=jdbc:mysql://db:3306/shop_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=admin123

# JWT configuration
JWT_SECRET=0tpW3AuazUoAL61xcfp6jz9yUmMCKHBA04OY8Z1AwZegfu5D9q/X/C7x9JTV0GcT
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

# Server configuration
SERVER_PORT=8080

# External APIs
GOOGLE_CLIENT_ID=437402316397-vpo3brm7dqpa3lgkpr3fpm4hil6ga3bm.apps.googleusercontent.com
CLOUDINARY_CLOUD_NAME=dskwek4ju
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
