# Database configuration
DB_URL=jdbc:mysql://localhost:3306/shop_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=root

# JWT configuration
JWT_SECRET=7a6b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5f6g7h
JWT_EXPIRATION=86400000

# Server configuration
SERVER_PORT=8080

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=dskwek4ju
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
